"BasedOnStyle": "Microsoft"
"AlignConsecutiveAssignments": "AcrossEmptyLinesAndComments"
# "AlignConsecutiveAssignments": "Consecutive"
"AlignConsecutiveBitFields": "AcrossEmptyLinesAndComments"
"AlignConsecutiveDeclarations": "AcrossEmptyLinesAndComments"
# "AlignConsecutiveDeclarations": "Consecutive"
"AlignConsecutiveMacros": "AcrossEmptyLinesAndComments"
"AlignTrailingComments": "true"
"IndentPPDirectives": "BeforeHash"
"AlignArrayOfStructures": "Right"
"ColumnLimit": 120
"AccessModifierOffset" : -4
"AllowShortIfStatementsOnASingleLine" : "true"
"AlwaysBreakTemplateDeclarations" : "true"
"Standard" : "C++11"
"PPIndentWidth": 4
"QualifierAlignmentStyle": "Left"
"ReferenceAlignment": "Right"
"ReflowComments": "true"
"SpaceAroundPointerQualifiers": "After"
"SpaceBeforeAssignmentOperators": "true"
"AlignEscapedNewlines": "Left"
"AllowShortCaseLabelsOnASingleLine": "false"
"AllowShortEnumsOnASingleLine": "false"
"AlignAfterOpenBracket": "Align"
"BinPackArguments": "false"
"BinPackParameters": "false"
"AllowAllArgumentsOnNextLine": "false"
"AllowAllParametersOfDeclarationOnNextLine": "false"
"BreakBeforeBraces": "Stroustrup"
